body{
  margin-top: 76px;
}

ul{
  -webkit-padding-start: 0;
}

.dropdown-item:active{
    background: red;
}

.dropdown-item:hover{
    background: red;
}


/*add padding to all pages for nav*/







/*Nav logo positioning*/
.nav-logo {
  height: 60px;
  width: 60px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.small-brand {
  left: 50px;
  bottom: -120%;
  position: static;
  height: 60px;
  width: 60px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5;
  }

.card .carousel-item {
  height: 200px;
}

/*Mojo mentality-features section*/

.feature>img {
  width: 50px;
}

.contact-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeTrail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bike-section {
  /*background-color: grey;*/
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikesOnRack.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}

#bikesCard{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikesOnRack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#customCard{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/build-kit.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*#bikes .btn{
  position: absolute !important;
  bottom: 10px !important;
  left: 0 !important;
}*/

/*#bikes .dropdown{
  position: absolute !important;
  bottom: 10px !important;
  left: 0 !important;
  width: 100%;
}*/

li{
  list-style-type: none;
}

.quote{
  padding: 1rem;
}

.service-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*Positioning text over carousel images*/
.text-overlay{
  top: 20%;
}

/*Overlay on carousel images*/
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.55);
}

.service-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.fitting-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.accessories-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 350px;
}

.fittings-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeFitting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 350px;
}


 /*BRANDS PAGE*/

 #brands img {
   max-width: 250px;
   padding: 1rem;
 }

 .brands-header{
   background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/bikeShopWorkBench.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
 }

 /*ABout section*/

 .about-img{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/group-ride-suburban.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   min-height: 500px;
 }

   /*TEAM IMAGES IN ABOUT SETCTION*/

 .album .btn{
   float: right;
 }

 .album .team-name{
   float: left;
 }

 /*Styling for bikes description*/

 .bike-description{
   color: white;
 }

 .bike-description p{
   padding: 20px;
 }

/*ROAD PAGE*/

#road-bikes .bike-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.road-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/road-images/road-group-ride.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 60vh;
}

.road-race{
  background-image: url(../images/road-images/orbea-road.jpg);
}

.road-sport{
  background-image: url(../images/road-images/orbea-sport.jpg);
}

.road-tri{
  background-image: url(../images/road-images/orbea-tri.jpg);
}

.road-enduroad{
  background-image: url(../images/road-images/gt-grade.jpg);
}

.road-gravel{
  background-image: url(../images/road-images/jamis-renigade.jpeg);
}

.road-cross{
  background-image: url(../images/road-images/orbea-terra.jpg);
}


/*MOUNTAIN PAGE*/

.mountain-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/mountain-images/mountain-riders.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 60vh;
}

#mountain-bikes .bike-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.mountain-enduro{
  background-image: url(../images/mountain-images/new-rallon.jpg);
}

.mountain-xc{
  background-image: url(../images/mountain-images/orbea-alma.jpg);
}

.mountain-dh{
  background-image: url(../images/mountain-images/canfield-jedi.jpg);
}

.mountain-dj{
  background-image: url(../images/mountain-images/radio-griffin.jpg);
}

.mountain-fr{
  background-image: url(../images/mountain-images/ns-fuzz.jpg);
}

.mountain-ss{
  background-image: url(../images/mountain-images/jamis-exile.jpg);
}

/*CUSTOM BIKES*/

.custom-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/custom/yelli-close-up.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 60vh;
}

#custom-bikes .bike-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.custom-khs-sixfifty{
  background-image: url(../images/custom/custom-khs-sixfifty.jpeg);
}

.custom-diety{
  background-image: url(../images/custom/custom-diety.jpeg);
}

.custom-transition-double{
  background-image: url(../images/custom/custom-transition-double.jpeg);
}

.custom-felt{
  background-image: url(../images/custom/felt.jpeg);
}

.custom-cainfeild-jedi{
  background-image: url(../images/custom/custom-cainfeild-jedi-2.jpeg);
}

.custom-cainfeild-yelli{
  background-image: url(../images/custom/custom-cainfeild-yelli.jpeg);
}

.custom-khs-dj-white{
  background-image: url(../images/custom/custom-khs-dj-white.jpeg);
}

.custom-khs-purple{
  background-image: url(../images/custom/custom-khs-purple.jpeg);
}

.custom-khs-dj-black{
  background-image: url(../images/custom/custom-khs-dj-black.jpeg);
}

.custom-cainfeild-yelli-black{
  background-image: url(../images/custom/custom-cainfeild-yelli-black.jpeg);
}

.custom-voodoo{
  background-image: url(../images/custom/custom-voodoo.jpeg);
}

.custom-cainfeild-yelli-orange{
  background-image: url(../images/custom/custom-cainfeild-yelli-orange.jpeg);
}

.custom-scott{
  background-image: url(../images/custom/custom-scott.jpeg);
}

.custom-transition-dirtbag{
  background-image: url(../images/custom/custom-transition-dirtbag.jpeg);
}

.custom-felt-compultion{
  background-image: url(../images/custom/custom-felt-compultion.jpeg);
}

.custom-scott-voltage{
  background-image: url(../images/custom/custom-scott-voltage.jpeg);
}

.custom-salsa{
  background-image: url(../images/custom/custom-salsa.jpeg);
}

/*HYBRID PAGE*/

.hybrid-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/hybrid-images/greenway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 60vh;
}

#hybrid-bikes .bike-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.hybrid-khs-ultrasport{
  background-image: url(../images/hybrid-images/khs-ultrasport.jpg);
}

.hybrid-day6{
  background-image: url(../images/hybrid-images/day6dream24.png);
}

.hybrid-jamis-coda{
  background-image: url(../images/hybrid-images/jamis-coda.jpeg);
}

.hybrid-khs-green{
  background-image: url(../images/hybrid-images/khsgreen.jpeg);
}

.hybrid-jamis-cruiser{
  background-image: url(../images/hybrid-images/hybrid-jamis-cruiser.jpg);
}

.hybrid-khs-recumbant{
  background-image: url(../images/hybrid-images/hybrid-khs-recumbant.jpg);
}




@media screen and (max-width: 768px) {

  .hidden-md-down{
    display: none;
  }

  .display-2 {
    font-size: 3.5rem;
  }

}

@media screen and (max-width: 668px) {

#bikes div.col-lg-6{
  padding-right: 0;
}



}

/*MEDIA QUERRIES*/

@media screen and (min-width: 768px) {
  /*Nav logo positioning*/
.nav-logo {
  left: 50px;
  bottom: -120%;
  position: absolute;
  height: 120px;
  width: 120px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5;
  }
  body{
  margin-top: 56px;
  }

  .responsive-width {
    max-width: 60%;
  }
  .feature>img {
    width: 80px;
  }


}

/*Font size adjustment*/

body {
  font-size: 1rem;
}
.display-2 {
  font-size: 1.8rem;
}
.display-3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 468px) {
  html {
    font-size: 1.2rem;
  }
  .display-2 {
    font-size: 2.0rem;
  }
  .display-3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
  .display-2 {
    font-size: 2.5rem;
  }
  .display-3 {
    font-size: 2.0rem;
  }
}

@media screen and (min-width: 1168px) {
  html {
    font-size: 1.6rem;
  }
  .display-2 {
    font-size: 3.0rem;
  }
  .display-3 {
    font-size: 2.5rem;
  }
}
